
:root{
  --bg:#733e7b;
  --bg-n:#b95fd6;
}.btn {
    background-color: var(--bg-n);
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    /* font-family: 'BenchNine', Arial, sans-serif; */
   font-family: "lith",monospace;
    font-size: 15px;
    line-height: 1em;
    margin: 15px 40px;
    outline: none;
    padding: 12px 30px 12px;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .btn:before,
  .btn:after {
    border-color: transparent;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    border-style: solid;
    border-width: 0;
    content: '';
    height: 24px;
    position: absolute;
    width: 24px;
  }
  
  .btn:before {
    border-color: var(--bg-n);
    border-top-width: 2px;
    left: 0px;
    top: -5px;
  }
  
  .btn:after {
    border-bottom-width: 2px;
    border-color: var(--bg-n);
    bottom: -5px;
    right: 0px;
  }
  
  .btn:hover,
  .btn.hover {
    background-color: #f7f6f5;
    color:black;
  }
  
  .btn:hover:before,
  .btn.hover:before,
  .btn:hover:after,
  .btn.hover:after {
    height: 100%;
    width: 100%;
    border-color: white;
  }
  