@font-face {
  font-family: "Pixel";
  src: url("../assets/legolas-pixel/legolas-pixel.ttf") format("truetype");
}

@font-face {
  font-family: "Lith";
  src: url("../assets/emulogic_Vlxoj/Emulogic/EmulogicRegular/Emulogic\ Regular.ttf") format("truetype");
}

@font-face {
  font-family: "sakthi";
  src: url("../assets/04b_30/04B_30__.TTF") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #21062a;
  --accent: #9c27b0;
  --neon: #ff00ff;
  --glass: rgba(255, 255, 255, 0.1);
  --glass-border: rgba(255, 255, 255, 0.2);
  --text: #ffffff;
  --yellow:rgb(165, 118, 6);
}

body {
  background-color: var(--bg);
}

.contact {
  min-height: 100vh;
  background: url("../assets/cont-bg.png") center / cover no-repeat fixed;
  color: var(--text);
  font-family: "Pixel", monospace;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 2rem;
  
}

.cont-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
}

.cont-head {
  font-family: "Sakthi", monospace;
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px 20px;
  color: var(--neon);
  text-shadow: 0px 0px 15px var(--neon);
  position: relative;
  margin-bottom: 1.5rem;
}

.staff-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  width: 100%;
  max-width: 1200px;
}

.staff-card {
  width: 320px;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  background: rgba(37, 4, 40, 0.3);

  border: 0.8px solid var(--accent);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 10px var(--accent);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.staff-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 0px 20px var(--neon);
}

.staff-img {
  width: 180px; 
  height: auto; 
  object-fit: cover; 
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* .staff-card:hover .staff-img {
  transform: scale(1.1); 
  box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.2); 
} */

.staff-name {
  font-size: 1.6rem;
  font-family: "Lith", monospace;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--text);
}

.staff-card p {
  display: flex;
  align-items: center;
  gap: 8px; 
  font-family: "Lith", monospace;
  justify-content: center;
  text-transform: lowercase;
   
}

.staff-card i {
  color:var(--neon);
  font-size: 1.2rem; 
}

.staff-card a {
  text-decoration: none;
  color: white;
  font-size: 1rem; 
}

.staff-card a:hover {
  color: var(--neon);
  text-shadow: 0px 0px 8px var(--neon);
}

@media (max-width: 768px) {
  .staff-container {
    flex-direction: column;
    align-items: center;
  }
}
.std-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  width: 100%;
  max-width: 1200px;
}

.std-card {
  width:320px;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  background: rgba(37, 4, 40, 0.3);

  border: 0.8px solid var(--accent);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 10px var(--accent);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.std-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 0px 20px var(--neon);
}

.std-img {
  width: 180px; 
  height: auto; 
  object-fit: cover; 
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}



.std-name {
  font-size: 1.6rem;
  font-family: "Lith", monospace;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--text);
}

.std-card p {
  display: flex;
  align-items: center;
  gap: 8px; 
  font-family: "Lith", monospace;
  justify-content: center; 
}

.std-card i {
  color:var(--neon);
  font-size: 1.2rem; 
}

.std-card a {
  text-decoration: none;
  color: white;
  font-size: 1rem; 
}

.std-card a:hover {
  color: var(--neon);
  text-shadow: 0px 0px 8px var(--neon);
}

@media (max-width: 768px) {
  .std-container {
    flex-direction: column;
    align-items: center;
  }

  
}

@media (max-width: 580px) {
  .cont-head {
    font-size: 1.2rem;
  }

.staff-card {
  border-radius: 4px;
  padding: 10px;
  width: 80%;
  margin-top: 3px;
  box-shadow: 0px 0px 2px var(--accent);
}
.staff-img {
  width: 140px; 
 
}

.staff-name {
  font-size: 1.2rem;
  margin-bottom: 8px;
}
.staff-card p {
  gap: 4px; 
  font-size: 0.8rem;
}

.staff-card i {
  font-size: 0.8rem; 
}
.staff-card a {
  font-size: 0.7rem; 
  margin-top: 3px;
}

  .std-card {
    border-radius: 4px;
  padding: 10px;
  width: 80%;
  box-shadow: 0px 0px 2px var(--accent);
  }
  .std-img {
    width: 140px; 
   
  }
  .std-name {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }
  .std-card p {
    gap: 4px; 
    font-size: 0.8rem;
  }
  
  .std-card i {
    font-size: 0.8rem; 
  }
  .std-card a {
    font-size: 0.7rem; 
    margin-top: 3px;
  }
  
}




.contact-us{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:20px;
  padding: 20px;
  backdrop-filter: blur(8px);
  background: rgba(39, 1, 47, 0.3);
  border-radius: 4px;
}
.connect-section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* CONNECT Heading */
.connect-section h2 {
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Sakthi",monospace;
  color: var(--neon);
}

/* Social Icons */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.social-icons a {
  color:var(--neon);
  font-size: 13px;
  padding: 10px;
  background-color: #21062a;
  border-radius: 4px;
  transition: transform 0.2s ease-in-out;
}

.social-icons a:hover {
  transform: scale(0.96);
  border: 0.8px solid var(--accent);
  background-color: #44334a;
}

/* Google Map */
.map-container {
  margin-top: 20px;
}

.map-container iframe {
  width: 600px;
  height: 200px;
  border-radius: 5px;
  border: none;
}

/* Contact Info */
.contact-info {
  background: rgba(97, 2, 114, 0.3);
  backdrop-filter: blur(8px);
  width: 600px;
  border-radius: 4px;
  padding: 20px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.contact-info h3 {
  font-size: 15px;
  margin-bottom: 10px;
  font-family: "Sakthi",monospace;
  color: var(--yellow);
}
.contact-info-org{
  display: flex;
  justify-content: space-between;
}
.contact-info-org p:nth-child(2){
  color:rgb(238, 211, 249);
}
.contact-info p{
  color: var(--accent);
  font-family: "lith",monospace;
  font-size: 10px;
  margin-bottom: 10px;
}

/* Contact Form Section */
.contact-form-section {
  background: rgba(37, 4, 40, 0.3);
  backdrop-filter: blur(8px);
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  
 /*  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); */
  text-align: start;
}

.contact-form-section h2 {
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Sakthi",monospace;
  color: var(--neon);
}


/* Form Inputs */
.contact-form-section form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}



.contact-form-section textarea {
  resize: none;
  height: 100px;
}
.input-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(34, 19, 39);
  border-radius: 5px;
  padding: 8px 10px;
  margin-bottom: 10px;
  font-family: "Lith" ,monospace;
}

.input-container i {
  color: var(--neon);
  font-size: 1.2rem;
  padding: 10px;
}

.input-container input,
.input-container textarea {
  width: 100%;
  height:15px;
  padding: 0;
  padding-left: 2px;
  border: none;
  background: transparent;
  color: white;
  font-size: 16px;
  outline: none;
  font-family: "Lith" ,monospace;
}

.input-container textarea {
  resize: none;
  height: 100px;
}



/* Responsive */
@media (max-width: 768px) {
  

  .social-icons a {
      font-size: 20px;
  }

  
}
@media (max-width: 780px) {
  .contact-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    padding: 10px;
  }
  .map-container iframe {
    width: 200px;
    height: 150px;
  }
  .map-container {
    margin-top: 10px;
  }
  .connect-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .connect-section h2 {
    font-size: 14px;
    margin-bottom: 10px;
   
  }
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 5px;
  }
  
  .social-icons a {
    color:var(--neon);
    font-size: 10px;
    padding: 8px;
  }
}
@media (max-width: 780px){
  .contact-info {
  
    width: 300px;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    font-size: 10px;
    line-height: 1.5;
  }
  
  .contact-info h3 {
    font-size: 12px;
    margin-bottom: 10px;
    font-family: "Sakthi",monospace;
    color: var(--yellow);
  }
 
  .contact-info p{
    font-size: 8px;
    margin-bottom: 10px;
  }
}
@media (max-width: 780px){
  .contact-form-section {
    padding: 10px;
    border-radius: 4px;
    width: 300px;
    text-align: center;
  }
  
  .contact-form-section h2 {
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  
  /* Form Inputs */
  .contact-form-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .contact-form-section textarea {
    resize: none;
    height: 50px;
  }
  .input-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(34, 19, 39);
    border-radius: 5px;
    padding: 5px 7px;
    margin-bottom: 7px;
    font-family: "Lith" ,monospace;
  }
  
  .input-container i {
    color: var(--neon);
    font-size: 1rem;
    padding: 8px;
  }
  
  .input-container input,
  .input-container textarea {
    width: 100%;
    height:15px;
    padding: 0;
    padding-left: 2px;
    border: none;
    background: transparent;
    color: white;
    font-size: 10px;
    outline: none;
    font-family: "Lith" ,monospace;
  }
  
  .input-container textarea {
    resize: none;
    height: 100px;
  }
  
  
}
:root{
  --bg:#733e7b;
  --bg-n:#b95fd6;
}.btn {
    background-color: var(--bg-n) ;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    /* font-family: 'BenchNine', Arial, sans-serif; */
   font-family: "lith",monospace;
    font-size: 15px;
    line-height: 1em;
    margin: 15px 40px;
    outline: none;
    padding: 12px 30px 12px;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .btn:before,
  .btn:after {
    border-color: transparent;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    border-style: solid;
    border-width: 0;
    content: '';
    height: 24px;
    position: absolute;
    width: 24px;
  }
  
  .btn:before {
    border-color: var(--bg-n);
    border-top-width: 2px;
    left: 0px;
    top: -5px;
  }
  
  .btn:after {
    border-bottom-width: 2px;
    border-color: var(--bg-n) ;
    bottom: -5px;
    right: 0px;
  }
  
  .btn:hover,
  .btn.hover {
    background-color: #f7f6f5;
    color:black;
  }
  
  .btn:hover:before,
  .btn.hover:before,
  .btn:hover:after,
  .btn.hover:after {
    height: 100%;
    width: 100%;
    border-color: white;
  }
  @media (max-width: 780px){
    .btn {
      
     
      font-size: 10px;
      line-height: 1em;
      margin: 15px 40px;
      outline: none;
      padding: 12px 30px 12px;
      
    }
    
    .btn:before,
    .btn:after {
      border-color: transparent;
      -webkit-transition: all 0.25s;
      transition: all 0.25s;
      border-style: solid;
      border-width: 0;
      content: '';
      height: 24px;
      position: absolute;
      width: 24px;
    }
    .btn:before {
      border-color: var(--bg-n);
      border-top-width: 2px;
      left: 0px;
      top: -5px;
    }
    
    .btn:after {
      border-bottom-width: 2px;
      border-color: var(--bg-n) ;
      bottom: -5px;
      right: 0px;
    }
    
    .btn:hover,
    .btn.hover {
      background-color: #f7f6f5;
      color:black;
    }
    
    .btn:hover:before,
    .btn.hover:before,
    .btn:hover:after,
    .btn.hover:after {
      height: 100%;
      width: 100%;
      border-color: white;
    }
  }
  