@font-face {
    font-family: "Pixel";
    src: url("../assets/legolas-pixel/legolas-pixel.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Lith";
    src: url("../assets/emulogic_Vlxoj/Emulogic/EmulogicRegular/Emulogic\ Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "sakthi";
    src: url("../assets/04b_30/04B_30__.TTF") format("truetype");
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --bg: #21062a;
    --accent: #9c27b0;
    --neon: #ff00ff;
    --glass: rgba(255, 255, 255, 0.1);
    --glass-border: rgba(255, 255, 255, 0.2);
    --text: #ffffff;
    --yellow:rgb(165, 118, 6);
  }
  
  body {
    background-color: var(--bg);
  }
  
  .ourteam {
    min-height: 100vh;
    position: relative;
    color: white;
    overflow: hidden;
    
  }
  .background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }