
@font-face {
  font-family: "Pixel";
  src: url("../assets/legolas-pixel/legolas-pixel.ttf") format("truetype");
}

@font-face {
  font-family: "Lith";
  src: url("../assets/emulogic_Vlxoj/Emulogic/EmulogicRegular/Emulogic\ Regular.ttf") format("truetype");
}

@font-face {
  font-family: "sakthi";
  src: url("../assets/04b_30/04B_30__.TTF") format("truetype");
}
:root {
  --bg: #21062a;
  --accent: #9c27b0;
  --neon: #ff00ff;
  --glass: rgba(255, 255, 255, 0.1);
  --glass-border: rgba(255, 255, 255, 0.2);
  --text: #ffffff;
  --yellow:rgb(165, 118, 6);
}/* Profile Container */
.profile-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  perspective: 1000px;
}

/* Profile Card */
.profile-card {
  position: relative;
  background: linear-gradient(135deg, rgba(44, 154, 227, 0.3), rgba(0, 0, 0, 0.8));
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 255, 255, 0.2);
  padding: 15px;
  text-align: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  transform-style: preserve-3d;
  overflow: hidden;
}

/* 3D Hover Effect */
.profile-card:hover {
  transform: rotateY(10deg) translateY(-5px);
  box-shadow: 0 10px 25px rgba(115, 0, 255, 0.6);
}

/* Glowing Border */
.profile-glow {
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
 
  z-index: -1;
  filter: blur(8px);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

/* Show glow on hover */
.profile-card:hover .profile-glow {
  opacity: 1;
}



/* Profile Image */
.profile-image {
  width: 180px;
  height: auto;
  
 
  transition: transform 0.3s ease;
}

.profile-card:hover .profile-image {
  transform: scale(1.1);
}

/* Profile Name */
.profile-name {
  margin-top: 12px;
  font-size: 18px;
 font-family: "Sakthi" ,monospace;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.7);
  transition: 0.3s;
}

/* Glowing Effect on Name */
.profile-card:hover .profile-name {
  color: var(--neon);
}
