
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #140d26;
    --accent: #9c27b0;
    --neon: #ff00ff;
    --glass: rgba(255, 255, 255, 0.1);
    --glass-bg: rgba(37, 4, 40, 0.3);
    --glass-border: rgba(255, 255, 255, 0.2);
    --text: #ffffff;
    --yellow: #FFD700;
    --neon-glow: 0 0 10px var(--neon), 0 0 20px var(--neon);
}
.spon-container{
    position: relative;
    width: 100%;
     height: 160vh; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsor {
    width: 100%;
     height: auto; 
   
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsor-title {
    font-size: 3rem; 
    background: linear-gradient(90deg, #ff00ff, #00ffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: var(--shadow-glow);
    margin-bottom: 3rem;
    margin-top: 2rem;
    animation: neon-blink 1.5s infinite alternate;
}
@keyframes neon-blink {
    0% {
      text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff;
    }
    100% {
      text-shadow: 0 0 15px #ff00ff, 0 0 30px #00ffff;
    }
  }

@keyframes flicker {
    0% { opacity: 1; }
    100% { opacity: 0.8; }
}

.sponsor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}

.sponsor-card {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(50, 50, 50, 0.2);
    
    backdrop-filter: blur(4px);
    border-radius: 4px;
   
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.sponsor-name-box {
    width: 100%;
    padding: 1rem;
    color: var(--text);
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.05);
    
}

.sponsor-img-box {
    background: rgba(255, 255, 255, 0.05);
    padding: 2rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
} 
.sponsor-img-box::before,
.sponsor-img-box::after,
.sponsor-img-box .corner-bottom-left,
.sponsor-img-box .corner-bottom-right {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-color: var(--neon);
    border-style: solid;
}

.sponsor-img-box::before {
    top: 67px;
    left: 16px;
    border-width: 3px 0 0 3px;
}

.sponsor-img-box::after {
    top: 67px;
    right: 16px;
    border-width: 3px 3px 0 0;
}

.sponsor-img-box .corner-bottom-left {
    bottom: 52px;
    left: 16px;
    border-width: 0 0 3px 3px;
    position: absolute;
}

.sponsor-img-box .corner-bottom-right {
    bottom: 52px;
    right: 16px;
    border-width: 0 3px 3px 0;
    position: absolute;
}

.sponsor-img-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    padding:5px;
    transition: transform 0.3s ease-in-out;
}


.sponsor-card:hover {
   
    box-shadow: 0 6px 25px rgba(255, 0, 255, 0.6);
}

.sponsor-card:hover .sponsor-img-box img {
    transform: scale(1.04);
}


@media (max-width: 668px){
    .sponsor-title {
        font-size: 2rem;
        margin-bottom: 2rem;
        
    }
    .sponsor-card {
        width: 250px;
    }
    .sponsor-name-box {
       
        font-size: 1.3rem;
       
    }
    .sponsor-img-box {
    

        background: rgba(255, 255, 255, 0.05);
        padding: 2rem;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
    .sponsor-img-box::before,
.sponsor-img-box::after,
.sponsor-img-box .corner-bottom-left,
.sponsor-img-box .corner-bottom-right {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-color: var(--neon);
    border-style: solid;
}

.sponsor-img-box::before {
    top: 49px;
    left: 16px;
    border-width: 3px 0 0 3px;
}

.sponsor-img-box::after {
    top: 49px;
    right: 16px;
    border-width: 3px 3px 0 0;
}

.sponsor-img-box .corner-bottom-left {
    bottom: 30px;
    left: 16px;
    border-width: 0 0 3px 3px;
    position: absolute;
}

.sponsor-img-box .corner-bottom-right {
    bottom: 30px;
    right: 16px;
    border-width: 0 3px 3px 0;
    position: absolute;
}
}
